#nav {
    background-color: #BE3144;
    height: 50px;
    padding: 5px;
}

.styled-nav {
    float: right;
    margin-right: 30px;
}

.styled-nav ul {
    list-style-type: none;
    overflow: hidden;
    height: 50px;
}

.styled-nav li {
    display: inline;
    max-width: 70px;
    font-size: 20px;
    margin: 10px;
}

.styled-nav li a {
    color: #ffffff;
    text-decoration: none;
}

.styled-nav li a:hover {
    background-color: #45567d;
    height: 50px;
}

#welcome-section {
    background-color: #212123;
    padding: 60px 35px;
    height: 400px;
}

#welcome-section h1 {
    color: white;
    font-weight: 800;
}

#welcome-section p {
    color: #BE3144;
    font-size: 25px;
    font-weight: 200;
}

#projects {
    background-color: #45567D;
}

.project-tile img {
    width: 500px;
}

